%h1.heading
	= 'New User'
-	semantic_form_for([:admin, @user]) do |form|
	= render 'form', :form => form
	- form.buttons do
		= form.commit_button t(:create)
		%li= link_to t(:cancel), admin_users_path